@model IEnumerable<Rocky.Models.Exam>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<select>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
</select>
