@{
    ViewData["Title"] = "Система тестирования сотрудников ТФОМС РХ по информационной безопасности";
}
 @if (User.IsInRole(Rocky.WC.AdminRole))
                        {
<div class="text-center">
    <h1 class="display-5">Система тестирования сотрудников ТФОМС РХ по информационной безопасности</h1>
    <br />
    <p class="display-4">Вы вошли как админ</p>
</div>
                        } else{
    <div class="text-center">
        <h1 class="display-5">Система тестирования сотрудников ТФОМС РХ по информационной безопасности</h1>
        <br />
        <p class="display-4">Для начала тестировния нажми на вкладку "Тестирование"</p>
    </div>
                        }