@model IEnumerable<Rocky.Models.Question>
@{
    ViewData["Title"] = "Категории";
}
<div class = "container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список категорий</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Question" asp-action="Create" class="btn btn-primary">
            Создать новую вопрос
            </a>
        </div>
    </div>

<br />
<br />
@if(Model.Count() >=0){
    <table class="table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Название вопроса
                </th>
                
                <th>

                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var obj in Model)
           {
               <tr>
                   <td width=50%>@obj.Title</td>
                   
                   <td class="text-center">
                       <div class="w-75 btn-group" role="group">
                                <a asp-controller="Question" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                            Редактировать вопрос
                        </a>
                                <a asp-controller="Question" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    Удалить вопрос
                          </a>

                       </div>
                   </td>
               </tr>

               
           }
        </tbody>
    </table>
}
else{
    <p>Категории не существуют</p>
}
</div>


